name: Code Quality Analysis

on:
  push:
  pull_request:

jobs:
  pylint:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run pylint code scanning
        uses: advanced-security/python-lint-code-scanning-action@v1
        with:
          linter: pylint
